@media only screen and (min-width: 1441px) {
  /* Desktop */

 /* /////ГЛАВНАЯ СТРАНИЦА////// */

  body {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .main_page_hr{
    border: 0.060vw solid #FFFFFF;
    width: 23.393vw;
  }

  .menu_text{
    font-size: 2.976vw;
    line-height: 2.857vw;
  }

  .main_page_text{
    font-size: 10.119vw;
  }

  .img1 {
    height: 100vh;
    left: 28vw;
  }

  .img5{
    left: 66.369vw;
    top: 2.798vw;
  }

  .img4{
    top: 40vw;
  }

  .img2 {
    height: 62.5vw;
    right: 0vw;
    top: 0vw;
    z-index: -3;
  }

  .ad_menu_1, .ad_menu_2, .ad_menu_3, .ad_menu_4, .ad_menu_5, {
    font-size: 2vw;
    line-height: 2vw;
    /* left: 37vw; */
  }

  .ad_menu_1{
    top: 2.5vw;
    left: 30vw;
  }

  .ad_menu_2{
    top: 4.5vw;
    left: 30vw;
  }

  .ad_menu_3{
    top: 24.5vw;
    left: 30vw;
  }

  .ad_menu_4{
    top: 26.5vw;
    left: 30vw;
  }

  .ad_menu_5{
    top: 28.5vw;
    left: 30vw;
  }

  .ad_menu_6, .ad_menu_7 {
    left: 45vw;
    font-size: 2vw;
    line-height: 2vw;
  }

  .ad_menu_6{
    top: 26.5vw;
    left: 30vw;
  }

  .ad_menu_7{
    top: 28.5vw;
    left: 30vw;
  }



  /* /////РАСПИСАНИЕ МАСТЕР-КЛАССОВ////// */

  .main_page_text{
    font-size: 10.119vw;
  }

  .schedule_page_text_2 {
    font-size: 10.119vw;
  }

  .sch_img1{
    height: 100vh;
    left: 28vw;
  }

  .sch_img2{
    left: 0vw;
    top: 10vw;
    width: 20vw;
  }

  .sch_img3{
    right: 0vw;
    top: 14vw;
    width: 30vw;
  }

  .schedule{
    position: absolute;
    top: 5vw;
  }

  /* /////МЕНЮ////// */

  .menu_botton{
    font-size: 2.381vw;
  }

  .hr_about_page{
    border: 0.060vw solid #FFFFFF;
    width: 7.5vw;
    top: 4.5vw;
  }

  .text_right{
    font-size: 1.071vw;
  }

  .header_text{
    font-size: 2.381vw;
  }

    /* /////ГАЛЕРЕЯ////// */

  .gal_img2{
    width: 25vw;
  }

  .gal_img3{
    top: 20vw;
    left: 15vw;
  }

  .gal_txt_about_1{
    margin-left: 7vw;
  }

  .gal_txt_about_2{
    margin-left: -9vw;
    margin-top: 10vw;
  }

  .gal_img5{
    position: absolute;
    left: 33vw;
  }

  .img7 {
    height: 100vh;
    left: 28vw;
  }

  .img8 {
    left: 81vw;
    top: 22vw;
  }

  .nav_img1{
    left: 27vw;
    height: 100vh;
  }

  .space_img1{
    height: 100vh;
  }

  .space_img2{
    top: 35vw;
  }

  .space_img3{
    top: 25vw;
  }

  .reception_img1{
    left: 28vw;
    top: 0vw;
    width: 47vw;
  }

  .reception_img2{
    left: 28vw;
    bottom: 0vw;
    width: 47vw;
  }

  .reception_img3{
    width: 24vw;
    right: 0vw;
    top: 8vw;
  }

  .reception_img4{
    width: 24vw;
    right: 0vw;
    top: 22.5vw;
  }

  .merch_img_1{
    left: 30vw;
    top: 10vw;
    width: 45vw;
  }

  .merch_img_2{
    left: 20vw;
    top: 15vw;
    width: 60vw;
  }

  .price_1{
    left: 77vw;
    top: 13vw;
  }

  .price_2{
    left: 77vw;
    top: 16vw;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad */

  body {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .arrow{
    left: 50vw;
    top: 69.043vw;
  }

  .img1 {
    top: 0vw;
    height: 75vw;
    width: 49.023vw;
    left: 28vw;
  }

  .container{
    width: 100vw;
    height: 75vw;
  }

  .menu_text{
    font-size: 3.418vw;
    line-height: 3.5vw;
  }

  .main_page_hr{
    width: 27vw;
    border: 0.098vw solid #FFFFFF;
  }

  .main_page_text{
    font-size: 10.742vw;
  }

  .ad_menu_1{
    left: 33vw;
    top: 3vw;
    font-size: 2vw;
  }

  .ad_menu_2{
    left: 33vw;
    top: 5vw;
    font-size: 2vw;
  }

  .ad_menu_3{
    left: 33vw;
    top: 28vw;
    font-size: 2vw;
  }

  .ad_menu_4{
    left: 33vw;
    top: 30vw;
    font-size: 2vw;
  }

  .ad_menu_5{
    left: 33vw;
    top: 32vw;
    font-size: 2vw;
  }

  .ad_menu_6{
    left: 53vw;
    top: 30vw;
    font-size: 2vw;
  }

  .ad_menu_7{
    left: 53vw;
    top: 32vw;
    font-size: 2vw;
  }

  .text_right{
    font-size: 1.270vw;
  }

  .border_text{
    font-size: 1.270vw;
    top: 17.5vw;
    right: -13vw;
  }

  .img2{
    position: absolute;
    height: 100vh;
    /* z-index: -3; */
  }

  .img1{
    position: absolute;
    height: 100vh;
    left: 31svw;
  }

  .img6{
    left: 35vw;
    top: 3vw;
  }

  .menu_botton{
    font-size: 2.930vw;
    line-height: 3.806vw;
  }

  .hr_about_page{
    width: 9vw;
    top: 5.3vw;
    margin-left: 2.7vw;
  }

  .header_text{
    font-size: 2.930vw;
  }

  .text_right{
    font-size: 1.465vw;
  }

  .schedule_page_text{
    font-size: 8.789vw;
  }

  .sch_img1{
    left: 25vw;
  }

  .sch_img2{
    top: 29vw;
    width: 20vw;
  }

  .sch_img3{
    top: 20vw;
    width: 28vw;
  }

  .back_1{
    top: 0vw;
    width: 120%;
  }

  .schedule{
    position: absolute;
    top: 8vw;
  }

  .day_sch_text{
    font-size: 3.418vw;
    line-height: 3.5vw;
  }

  .numbers_sch_1, .numbers_sch_2, .numbers_sch_3, .numbers_sch_4, .numbers_sch_5,
  .numbers_sch_6, .numbers_sch_7, .numbers_sch_8, .numbers_sch_9{
    font-size: 3.418vw;
    line-height: 3.5vw;
  }

  .numbers_sch_1{
    margin-left: 11vw;
  }

  .numbers_sch_2{
    margin-left: 25.6vw;
  }

  .numbers_sch_3{
    margin-left: 12.6vw;
  }

  .schedule_page_hr{
    width: 60vw;
  }

  .numbers_sch_4{
    margin-left: 11vw;
  }

  .numbers_sch_5{
    margin-left: 25.5vw;
  }

  .numbers_sch_6{
    margin-left: 20.5vw;
  }

  .numbers_sch_7{
    margin-left: 21vw;
  }

  .numbers_sch_8{
    margin-left: 22.5vw;
  }

  .numbers_sch_9{
    margin-left: 22vw;
  }

  .sch_img11{
    width: 120%;
    left: -10vw;
  }

  .sch_1_txt{
    font-size: 3.418vw;
    line-height: 3.418vw;
    top: 20vw;
  }

  .sch_2_txt{
    font-size: 1.465vw;
    top: 20vw;
    /* left: 72vw; */
  }

  .numbers_sch_1_1{
    top: 50vw;
    /* left: 72vw; */
    font-size: 1.953vw;
  }

  .floors_txt_1, .floors_txt_2, .floors_txt_3, .floors_txt_4, .floors_txt_5{
    font-size: 3.418vw;
  }

  .floors_txt_1{
    top: 15vw;
  }
  .space_page_hr_1{
    top: 17.5vw;
    width: 26vw;
  }

  .floors_txt_2{
    top: 20.5vw;
  }
  .space_page_hr_2{
    top: 23.5vw;
    width: 26vw;
  }

  .floors_txt_3{
    top: 26.5vw;
  }
  .space_page_hr_3{
    top: 30.5vw;
    width: 26vw;
  }

  .floors_txt_4{
    top: 33.5vw;
  }
  .space_page_hr_4{
    top: 36.5vw;
    width: 26vw;
  }

  .floors_txt_5{
    top: 39.5vw;
  }

  .space_img1{
    height: 100vh;
    left: 25vw;
  }

  .space_img2{
    width: 20vw;
    top: 50vw;
  }

  .space_img3{
    width: 15vw;
    top: 30vw;
  }

  .reception_img1{
    top: 9.5vw;
    left: 36vw;
  }

  .reception_img2{
    bottom: 11.5vw;
    left: 36vw;
  }

  .reception_img3{
    top: 16vw;
  }

  .reception_img4{
    top: 30vw;
  }

  .about_text{
    font-size: 1.465vw;
    line-height: 2vw;
    top: 15vw;
  }

  .img7{
    height: 100vh;
    left: 25vw;
  }

  .img8{
    width: 15vw;;
    left: 83vw;
    top: 40vw;
  }


  .floors_txt1{
    top: 15vw;
    font-size: 3.418vw;
  }
  .floors_txt2{
    top: 20vw;
    font-size: 3.418vw;
  }
  .floors_txt3{
    top: 25vw;
    font-size: 3.418vw;
  }
  .floors_txt4{
    top: 30vw;
    font-size: 3.418vw;
  }
  .floors_txt5{
    top: 35vw;
    font-size: 3.418vw;
  }
  .floors_txt6{
    top: 40vw;
    font-size: 3.418vw;
  }
  .floors_txt7{
    top: 45vw;
    font-size: 3.418vw;
  }

  .space_page_hr1{
    top: 17.5vw;
    width: 24vw;
  }

  .space_page_hr2{
    top: 22.5vw;
    width: 24vw;
  }

  .space_page_hr3{
    top: 27.5vw;
    width: 24vw;
  }

  .space_page_hr4{
    top: 32.5vw;
    width: 24vw;
  }

  .space_page_hr5{
    top: 37.5vw;
    width: 24vw;
  }

  .space_page_hr6{
    top: 42.5vw;
    width: 24vw;
  }

  .nav_img1{
    height: 100vh;
    left: 28vw;
  }

  .nav_img_1{
    top: 25vw;
    left: 40vw;
  }

  .nav_img_2{
    top: 25vw;
    left: 45vw;
  }

  .nav_img_3{
    top: 23vw;
    left: 45vw;
  }

  .nav_img_4{
    top: 23vw;
    left: 40vw;
  }

  .nav_img_5{
    top: 25vw;
    left: 40vw;
  }

  .nav_img_6{
    top: 25vw;
    left: 40vw;
  }

  .nav_img_7{
    top: 25vw;
    left: 40vw;
  }

  .merch_img{
    z-index: -3;
    left: 23vw;
  }

  .sch_2_txt{
    font-size: 1.465vw;
    left: 80vw;
    /* top: 13vw; */
  }

  .sch_1_txt_1{
    position: absolute;
    font-family: 'Akzidenz-Grotesk Pro';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 2.1vw;
    line-height: 2.6vw;
    top: 20vw;
    left: 2.778vw;
  }

  .gal_img1{
    left: 25vw;
  }

  .gal_img2{
    top: 25vw;
    left: 70vw;
    width: 23vw;
  }

  .gal_img3{
    top: 30vw;
  }

  .gal_img4{
    left: 15vw;
  }

  .gal_img5{
    left: 15vw;
  }

  .gal_text_about_11{
    position: absolute;
    left: 10vw;
    top: 20vw;
  }

  .gal_text_about_12{
    position: absolute;
    left: 53vw;
    top: 20vw;
  }



  .sch_2_txt_2{
    top: 12vw;
    left: 82.5vw;
    font-size: 1.3vw;
  }

  .text_right{
    line-height: 1.6vw;
  }




















}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */

  body{
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .arrow{
    left: 79.297vw;
    top: 127vw;
  }

  .menu_text{
    font-size: 4.557vw;
    line-height: 5vw;
  }

  nav{
    position: absolute;;
    top: 1.5vw;
    left: 1.5vw;
  }

  .main_page_hr{
    width: 35vw;
  }

  .border_text{
    position: absolute;
    font-size: 1.693vw;
    line-height: 2vw;
    top: 17vw;
    /* right: 1.5vw; */
    left: 68vw;
  }

  .main_page_text{
    font-size: 13.021vw;
    bottom: 3vw;
    left: 1.5vw;
  }

  .img1{
    width: 133.333vw;
    left: 0vw;
  }

  .img2{
    width: 133.333vw;
    left: 40vw;
  }

  .img3{
    width: 30vw;
    top: 55vw;
  }

  .img4{
    width: 30vw;
    top: 55vw;
  }

  .img6{
    width: 90vw;
    top: 15vw;
    left: 25vw;
  }

  .ad_menu_1{
    font-size: 3vw;
    left: 42vw;
    top: 5vw;
  }

  .ad_menu_2{
    font-size: 3vw;
    left: 42vw;
    top: 8vw;
  }

  .ad_menu_3{
    font-size: 3vw;
    left: 42vw;
    top: 38vw;
  }

  .ad_menu_4{
    font-size: 3vw;
    left: 42vw;
    top: 41vw;
  }

  .ad_menu_5{
    font-size: 3vw;
    left: 42vw;
    top: 44vw;
  }

  .ad_menu_6{
    font-size: 3vw;
    left: 69vw;
    top: 41vw;
  }

  .ad_menu_7{
    font-size: 3vw;
    left: 69vw;
    top: 44vw;
  }

  .sch_img1{
    left: 0vw;
    width: 100%;
  }

  .sch_img2{
    top: 15vw;
    width: 30vw;
    left: 0vw;
  }

  .sch_img3{
    top: 40vw;
    width: 40vw;
    right: 0vw;
  }

  .schedule_page_text{
    font-size: 13.021vw;
  }

  .schedule_page_text_2{
    font-size: 12vw;
  }

  .menu_botton{
    font-size: 4.557vw;
    line-height: 4.5vw;
  }

  .hr_about_page{
    width: 14vw;
    top: 6.5vw;
    margin-left: 2.7vw;
  }

  .header_text{
    font-size: 4.557vw;
  }

  .text_right{
    font-size: 1.953vw;
    line-height: 2.1vw;
    bottom: 3vw;
  }

  section{
    height: 100vh;
  }

  .back_1{
    display: none;
  }

  .back_1_1{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: -3;
  }

  .day_sch_text{
    font-size: 4.557vw;
    line-height: 5vw;
  }

  .schedule{
    position: absolute;
    top: 30vw;
  }

  .schedule_page_hr{
    width: 75vw;
  }

  .numbers_sch_1, .numbers_sch_2, .numbers_sch_3,
  .numbers_sch_4, .numbers_sch_5, .numbers_sch_6,
  .numbers_sch_7, .numbers_sch_8, .numbers_sch_9{
    font-size: 4.557vw;
  }

  .numbers_sch_1{
    margin-left: 10vw;
  }
  .numbers_sch_2{
    margin-left: 29.5vw;
  }
  .numbers_sch_3{
    margin-left: 12vw;
  }
  .numbers_sch_4{
    margin-left: 10vw;
  }
  .numbers_sch_5{
    margin-left: 29.5vw;
  }
  .numbers_sch_6{
    margin-left: 22.5vw;
  }
  .numbers_sch_7{
    margin-left: 23vw;
  }
  .numbers_sch_8{
    margin-left: 24.5vw;
  }
  .numbers_sch_9{
    margin-left: 24vw;
  }

  .sch_img11{
    display: none;
  }

  .sch_img11_1{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: -3;
  }

  .background_rec_2{
    opacity: 0.5;
  }

  .sch_1_txt{
    font-size: 4.557vw;
    line-height: 5vw;
    top: 30vw;
  }

  .sch_2_txt{
    position: absolute;
    font-size: 2.5vw;
    line-height: 2.5vw;
    top: 30vw;
    left: 58vw;
  }

  .numbers_sch_1_1{
    position: absolute;
    top: 60vw;
    left: 58vw;
    font-size: 4.557vw;
    line-height: 5vw;
  }

  .gal_img1{
    left: 0vw;
    width: 100%;
  }

  .gal_img2{
    width: 30vw;
    left: 70vw;
    top: 18vw;
  }

  .sch_1_txt_1{
    font-size: 3.255vw;
    line-height: 3.5vw;
    top: 18vw;
  }

  .gal_img3{
    width: 100vw;
    top: 60vw;
    left: 10vw;
  }

  .gal_img4, .gal_img5{
    width: 57.161vw;
    height: 86.458vw;
    left: 3vw;
    top: 13.151vw;
  }

  .gal_text_name_1, .gal_text_name_2{
    margin-top: 103vw;
    font-size: 3.255vw;
    line-height: 3.255vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
  }

  .numbers_1{
    position: absolute;
    font-size: 3.255vw;
    line-height: 3.255vw;
    left: -55vw;
    top: 110vw;
  }
  .numbers_2{
    position: absolute;
    font-size: 3.255vw;
    line-height: 3.255vw;
    margin-left: -37vw;
    top: 110vw;
  }

  .gal_text_about_1, .gal_text_about_2{
    position: absolute;
    font-size: 1.953vw;
    line-height: 2.3vw;
    margin-left: 3vw;
    top: 116vw;
  }

  .gal_text_name_2{
    /* top: 0vw; */
    font-size: 3.255vw;
    line-height: 3.255vw;
    margin-left: 3vw;
  }

  .numbers_2{
    font-size: 3.255vw;
    line-height: 3.255vw;
    margin-left: 3vw;
  }

  .gal_text_about_2{
    font-size: 1.953vw;
    line-height: 2.3vw;
    margin-left: 3vw;
  }

  .img7{
    left: 0vw;
    width: 100%;
  }

  .img8{
    display: none;
  }

  .about_text{
    position: absolute;
    top: 30vw;
    font-size: 2.4vw;
    line-height: 3vw;
  }

  .space_img1{
    left: 0vw;
    width: 110%;
  }

  .space_img2, .space_img3{
    display: none;
  }

  .floors_txt_1, .floors_txt_2, .floors_txt_3,
  .floors_txt_4, .floors_txt_5{
    font-size: 4.557vw;
    line-height: 7.813vw;
  }

  .floors_txt_1{
    left: 3.516vw;
    top: 18.229vw;
  }
  .floors_txt_2{
    left: 3.516vw;
    top: 26.042vw;
  }
  .floors_txt_3{
    left: 3.516vw;
    top: 33.854vw;
  }
  .floors_txt_4{
    left: 3.516vw;
    top: 41.667vw;
  }
  .floors_txt_5{
    left: 3.516vw;
    top: 49.479vw;
  }

  .space_page_hr_1, .space_page_hr_2,
  .space_page_hr_3, .space_page_hr_4{
    width: 35vw;
    left: 3.516vw;
  }

  .space_page_hr_1{
    top: 25vw;
  }
  .space_page_hr_2{
    top: 32.5vw;
  }
  .space_page_hr_3{
    top: 40.5vw;
  }
  .space_page_hr_4{
    top: 48.5vw;
  }

  .reception_img1{
    display: none;
  }

  .reception_img2{
    width: 48.307vw;
    height: 36.328vw;
    left: 51.302vw;
    top: 75.651vw;
  }

  .reception_img3{
    width: 45.182vw;
    height: 52.083vw;
    left: 3.516vw;
    top: 59.896vw;
  }

  .reception_img4{
    width: 48.568vw;
    height: 52.995vw;
    left: 51.302vw;
    top: 19.922vw;
  }

  .nav_img1{
    left: 0vw;
    width: 100%;
  }

  .floors_txt1, .floors_txt2, .floors_txt3,
  .floors_txt4, .floors_txt5, .floors_txt6,
  .floors_txt7{
    font-size: 4.557vw;
    line-height: 7.813vw;
  }

  .floors_txt1{
    left: 3.516vw;
    top: 18.229vw;
  }
  .floors_txt2{
    left: 3.516vw;
    top: 26.042vw;
  }
  .floors_txt3{
    left: 3.516vw;
    top: 33.854vw;
  }
  .floors_txt4{
    left: 3.516vw;
    top: 41.667vw;
  }
  .floors_txt5{
    left: 3.516vw;
    top: 49.479vw;
  }
  .floors_txt6{
    left: 3.516vw;
    top: 57.292vw;
  }
  .floors_txt7{
    left: 3.516vw;
    top: 65.104vw;
  }

  .space_page_hr1, .space_page_hr2, .space_page_hr3,
  .space_page_hr4, .space_page_hr5, .space_page_hr6{
    left: 3.516vw;
    width: 35vw;
  }

  .space_page_hr1{
    top: 25vw;
  }
  .space_page_hr2{
    top: 32.5vw;
  }
  .space_page_hr3{
    top: 40.5vw;
  }
  .space_page_hr4{
    top: 48.5vw;
  }
  .space_page_hr5{
    top: 56vw;
  }
  .space_page_hr6{
    top: 64vw;
  }

  .schedule_page_text_3{
    font-size: 11vw;
  }

  .nav_img_1{
    width: 30vw;
    top: 35vw;
    left: 55vw;
  }
  .nav_img_2{
    width: 30vw;
    top: 30vw;
    left: 55vw;
  }
  .nav_img_3{
    width: 28vw;
    top: 30vw;
    left: 55vw;
  }
  .nav_img_4{
    width: 28vw;
    top: 30vw;
    left: 55vw;
  }
  .nav_img_5{
    width: 32vw;
    top: 30vw;
    left: 55vw;
  }
  .nav_img_6{
    width: 32vw;
    top: 30vw;
    left: 55vw;
  }
  .nav_img_7{
    width: 32vw;
    top: 30vw;
    left: 55vw;
  }

  .merch_img{
    left: 0vw;
    width: 100%;
    opacity: 0.2;
  }

  .sch_2_txt_2{
    font-size: 1.953vw;
    line-height: 1.953vw;
    top: 19vw;
    left: 78vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */

  body {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 216.533vw;
  }

  .img1{
    height: 100vh;
    width: 175%;
    left: -20vw;
    top: 0vw;
  }

  .img2, .img3, .img4, .img5, .img6{
    display: none;
  }

  .menu_text{
    font-size: 6.667vw;
    line-height: 7vw;
    margin-top: 5vw;
    margin-bottom: 4vw;
    margin-left: 4vw;
  }

  .ad_menu_1, .ad_menu_2, .ad_menu_3,
  .ad_menu_4, .ad_menu_5, .ad_menu_6,
  .ad_menu_7{
    font-size: 4vw;
  }

  .ad_menu_1{
    top: 6vw;
    left: 60vw;
  }
  .ad_menu_2{
    top: 10vw;
    left: 60vw;
  }
  .ad_menu_3{
    top: 68vw;
    left: 60vw;
  }
  .ad_menu_4{
    top: 72vw;
    left: 60vw;
  }
  .ad_menu_5{
    top: 76vw;
    left: 60vw;
  }

  .ad_menu_6{
    top: 85vw;
    left: 60vw;
  }
  .ad_menu_7{
    top: 89vw;
    left: 60vw;
  }


  .main_page_hr{
    width: 50vw;
    left: 1vw;
    height: 0vw;
    border: 1px solid #FFFFFF;
  }

  .main_page_text{
    font-size: 13.333vw;
    line-height: 92.5%;
    top: 172vw;
    left: 2vw;
  }

  .border_text{
    display: none;
  }

  .text_right{
    text-align: left;
    left: 5vw;
    top: 200vw;
    font-size: 3.467vw;
    line-height: 4vw;
  }

  .sch_img1{
    height: 100vh;
    width: 175%;
    left: -20vw;
    top: 0vw;
  }

  .sch_img2, .sch_img3{
    display: none;
  }

  .schedule_page_text, .schedule_page_text_2{
    font-size: 13.333vw;
    line-height: 92.5%;
    bottom: 21vw;
    left: 2vw;
  }

  .menu_botton{
    left: 6.933vw;
    top: 8vw;
    font-size: 5.333vw;
    line-height: 6.933vw;
  }
  .hr_about_page{
    width: 16.533vw;
    height: 0vw;
    left: 4.5vw;
    top: 13vw;
    border: 0.267vw solid #FFFFFF;
  }

  .header_text{
    font-size: 5.333vw;
    line-height: 6.933vw;
    right: 4.5vw;
    top: 8vw;
  }

  section{
    height: 100vh;
  }

  .back_1{
    display: none;
  }

  .back_1_1{
    position: absolute;
    display: inherit;
    width: 180%;
    left: 0vw;
    top: 0vw;
  }

  .schedule{
    position: absolute;
    top: 60vw;
    left: 5vw;
  }

  .day_sch_text{
    font-size: 5vw;
    line-height: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .schedule_page_hr{
    width: 86.667vw;
    height: 0vw;
    border: 0.267vw solid #FFFFFF;
  }

  .numbers_sch_1, .numbers_sch_2, .numbers_sch_3,
  .numbers_sch_4, .numbers_sch_5, .numbers_sch_6,
  .numbers_sch_7, .numbers_sch_8, .numbers_sch_9{
    font-size: 5vw;
  }

  .numbers_sch_1{
    margin-left: 14vw;
  }
  .numbers_sch_2{
    margin-left: 35vw;
  }
  .numbers_sch_3{
    margin-left: 16vw;
  }
  .numbers_sch_4{
    margin-left: 14vw;
  }
  .numbers_sch_5{
    margin-left: 35.5vw;
  }
  .numbers_sch_6{
    margin-left: 28vw;
  }
  .numbers_sch_7{
    margin-left: 30vw;
  }
  .numbers_sch_8{
    margin-left: 32vw;
  }
  .numbers_sch_9{
    margin-left: 31vw;
  }

   .sch_1_txt{
     left: 6.933vw;
     top: 42.667vw;
     font-size: 6.667vw;
     line-height: 6.667vw;
   }

   .sch_2_txt{
     font-size: 3.467vw;
     line-height: 4vw;
     left: 6.933vw;
     top: 69.333vw;
   }

   .numbers_sch_1_1{
     left: 6.933vw;
     top: 110vw;
     font-size: 4.800vw;
     line-height: 5.600vw;
   }

   .background_rec_2{
     opacity: 0.5;
   }

   .sch_img11{
     display: none;
   }

   .sch_img11_1{
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     height: 100vh;
     z-index: -3;
   }

   .gal_img1{
     left: 0vw;
     height: 100vh;
   }

   .gal_img2{
     display: none;
   }

   .gal_img3{
     width: 100vw;
     top: 120vw;
     left: 10vw;
   }

   .sch_1_txt_1{
     position: absolute;
     left: 6.933vw;
     top: 42.667vw;
     font-size: 5vw;
     line-height: 5vw;
   }

   .gal_img4, .gal_img5{
     position: absolute;
     width: 86.7vw;
     height: 131vw;
     left: 6.5vw;
     top: 21vw;
   }

   .gal_text_name_1{
     position: absolute;
     left: -52vw;
     top: 133vw;
     font-size: 5vw;
     line-height: 6vw;
   }
   .gal_text_name_2{
     position: absolute;
     left: -9vw;
     top: 133vw;
     font-size: 5vw;
     line-height: 6vw;
   }

   .numbers_1{
     position: absolute;
     left: -52vw;
     top: 167vw;
     font-size: 5vw;
     line-height: 6vw;
   }
   .numbers_2{
     position: absolute;
     left: -9vw;
     top: 167vw;
     font-size: 5vw;
     line-height: 6vw;
   }

   .gal_text_about_1{
     position: absolute;
     left: -52vw;
     top: 175vw;
     font-size: 3.5vw;
     line-height: 4vw;
   }
   .gal_text_about_2{
     position: absolute;
     left: -9vw;
     top: 175vw;
     font-size: 3.5vw;
     line-height: 4vw;
   }

   .img7{
     left: 0vw;
     height: 100vh;
   }

   .img8{
     display: none;
   }

   .about_text{
     font-size: 4vw;
     line-height: 4vw;
     left: 6.933vw;
     top: 80vw;
   }

   .space_images{
     position: absolute;
     overflow: hidden;
     width: 100vw;
     height: 100vh;
   }


   .space_img1{
     left: -35vw;
     height: 100vh;
   }

   .space_img2, .space_img3{
     display: none;
   }

   .floors_txt_1, .floors_txt_2, .floors_txt_3,
   .floors_txt_4, .floors_txt_5 {
     font-size: 6.667vw;
     line-height: 8vw;
   }

   .floors_txt_1{
     left: 6.933vw;
     top: 30vw;
   }
   .floors_txt_2{
     left: 6.933vw;
     top: 42vw;
   }
   .floors_txt_3{
     left: 6.933vw;
     top: 54vw;
   }
   .floors_txt_4{
     left: 6.933vw;
     top: 66vw;
   }
   .floors_txt_5{
     left: 6.933vw;
     top: 78vw;
   }

   .space_page_hr_1, .space_page_hr_2,
   .space_page_hr_3, .space_page_hr_4{
     width: 86.400vw;
     height: 0vw;
     border: 0.1vw solid #FFFFFF;
   }

   .space_page_hr_1{
     left: 6.933vw;
     top: 38vw;
   }
   .space_page_hr_2{
     left: 6.933vw;
     top: 49.5vw;
   }
   .space_page_hr_3{
     left: 6.933vw;
     top: 62vw;
   }
   .space_page_hr_4{
     left: 6.933vw;
     top: 74vw;
   }

   .reception_img1{
     left: 6.933vw;
     top: 95vw;
     width: 90%;
   }

   .reception_img2{
     left: 6.933vw;
     top: 158vw;
     width: 90%;
   }

   .reception_img3, .reception_img4{
     display: none;
   }

   .arrow{
     position: absolute;
     left: 49.867vw;
     top: 201vw;
   }

   .nav_img1{
     left: 0vw;
     width: 150%;
   }

   .floors_txt1, .floors_txt2, .floors_txt3, .floors_txt4,
   .floors_txt5, .floors_txt6, .floors_txt7{
     font-size: 6.667vw;
     line-height: 8vw;
   }

   .floors_txt1{
     left: 6.933vw;
     top: 30vw;
   }
   .floors_txt2{
     left: 6.933vw;
     top: 42vw;
   }
   .floors_txt3{
     left: 6.933vw;
     top: 54vw;
   }
   .floors_txt4{
     left: 6.933vw;
     top: 66vw;
   }
   .floors_txt5{
     left: 6.933vw;
     top: 78vw;
   }
   .floors_txt6{
     left: 6.933vw;
     top: 90vw;
   }
   .floors_txt7{
     left: 6.933vw;
     top: 102vw;
   }

   .space_page_hr1, .space_page_hr2, .space_page_hr3,
   .space_page_hr4, .space_page_hr5, .space_page_hr6{
     width: 86.400vw;
     height: 0vw;
     border: 0.1vw solid #FFFFFF;
   }

   .space_page_hr1{
     left: 6.933vw;
     top: 38vw;
   }
   .space_page_hr2{
     left: 6.933vw;
     top: 49.5vw;
   }
   .space_page_hr3{
     left: 6.933vw;
     top: 62vw;
   }
   .space_page_hr4{
     left: 6.933vw;
     top: 74vw;
   }
   .space_page_hr5{
     left: 6.933vw;
     top: 85.5vw;
   }
   .space_page_hr6{
     left: 6.933vw;
     top: 97.5vw;
   }

   .schedule_page_text_3{
     font-size: 12vw;
     line-height: 92.5%;
     bottom: 21vw;
     left: 2vw;
   }

   .nav_img_1{
     width: 50vw;
     top: 130vw;
     left: 24vw;
   }
   .nav_img_2{
     width: 30vw;
     top: 125vw;
     left: 35vw;
   }
   .nav_img_3{
     width: 30vw;
     top: 125vw;
     left: 35vw;
   }
   .nav_img_4{
     width: 30vw;
     top: 125vw;
     left: 35vw;
   }
   .nav_img_5{
     width: 40vw;
     top: 128vw;
     left: 35vw;
   }
   .nav_img_6{
     width: 30vw;
     top: 130vw;
     left: 35vw;
   }
   .nav_img_7{
     width: 30vw;
     top: 130vw;
     left: 35vw;
   }

   .merch_img{
     height: 100%;
     left: -30vw;
     opacity: 0.2;
   }

   .sch_2_txt_2{
     font-size: 4vw;
     line-height: 4vw;
     left: 6.933vw;
     top: 90vw;
   }

   section {
     width: 100vw;
     height: 100vh;
     position: absolute;
     overflow: hidden;
   }














}









/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
} */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
} */
