@import "reset.css";
@import "fonts.css";
@import "responsive.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
}

html {
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

.loader{
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.loader_img{
    transition: all 2s ease;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 4;
  }

  .loading_page_text{
    position: absolute;
    font-family: 'Pitcrew';
    font-size: 9.722vw;
    line-height: 96%;
    color: #FFFFFF;
    bottom: 1vw;
    margin-left: 2.7vw;
    font-weight: 400;
    font-style: normal;
    z-index: 4;
  }

  .dot-flashing {
  position: absolute;
  left: 70vw;
  bottom: 2vw;
  width: 1.667vw;
  height: 1.667vw;
  border-radius: 50%;
  background-color: white;
  color: white;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
  z-index: 4;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -3vw;
  width: 1.667vw;
  height: 1.667vw;
  border-radius: 50%;
  background-color: white;
  color: white;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 3vw;
  width: 1.667vw;
  height: 1.667vw;;
  border-radius: 50%;
  background-color: white;
  color: white;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: white;
  }
  50%,
  100% {
    background-color: black;
  }
}


.container{
  display: block;
  margin: 0 auto;
  height: 100vh;
}





a {
  text-decoration: none;
  color: inherit;
}

.main_page_text {
  position: absolute;
  /* display: inline-block; */
  font-family: 'Pitcrew';
  font-size: 9.722vw;
  line-height: 96%;
  color: #FFFFFF;
  bottom: 1vw;
  margin-left: 2.7vw;
  font-weight: 400;
	font-style: normal;
}

.main_page_hr {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 0.069vw solid #FFFFFF;
  width: 17vw;
  margin-top: 1vw;;
  margin-bottom: -1vw;
  /* margin-top: 0.347vw;
  margin-bottom: -1vw; */
  margin-left: 2.7vw;
}

.border_text {
  position: absolute;
  /* display: inline; */
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.319vw;
  color: #FFFFFF;
  transform: rotate(90deg);
  top: 13.5vw;
  right: -8vw;
}

.text_right{
  position: absolute;
  /* display: inline-block; */
  bottom: 1vw;
  margin-right: 2.778vw;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.319vw;
  text-align: right;
  color: #FFFFFF;
}

.img1 {
  position: absolute;
  width: 46.389vw;
  height: 62.500vw;
  left: 27vw;
  top: 0vw;
  z-index: -1;
  overflow: hidden;
}

.img2 {
  position: absolute;
  height: 62.500vw;
  width: 46.389vw;
  right: -10vw;
  margin-top: 0vw;
  z-index: -1;

}

.img3 {
  position: absolute;
  display: block;
  left: 0vw;
  top: 20vw;
  z-index: -1;
}

.img4 {
  position: absolute;
  display: block;
  width: 14vw;
  right: 0vw;
  top: 33vw;
  z-index: -1;
}

.img5 {
  position: absolute;
  display: block;
  width: 22vw;
  left: 68vw;
  top: 2vw;
  z-index: -1;
}

.background_rec {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  background-color: black;
  z-index: -1;
}

.background_rec_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
  z-index: -1;
}

.background_rec_3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  background-color: black;
  z-index: -1;
}

.img6 {
  position: absolute;
  display: block;
  width: 55vw;
  height: 100vh;
  left: 40vw;
  top: -5vw;
  z-index: -1;
}

.menu_text {
  display: flex;
  justify-content: space-between;
  /* display: block; */
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  margin-left: 2.7vw;
  margin-top: 2.5vw;
  margin-bottom: 1vw;
}

.menu_text:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_1:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_2:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_3:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_4:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_5:hover {
  color: #FF00B8;
  cursor: pointer;
}

.menu_botton:hover {
  color: #FF00B8;
}

.header_text:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_1 {
  position: absolute;
  left: 27.917vw;
  top: 2.083vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  /* or 120% */
  color: #FFFFFF;

}

.ad_menu_2 {
  position: absolute;
  left: 27.917vw;
  top: 4vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  /* or 120% */
  color: #FFFFFF;

}

.ad_menu_3 {
  position: absolute;
  left: 27.917vw;
  top: 21vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  /* or 120% */
  color: #FFFFFF;

}

.ad_menu_4 {
  position: absolute;
  left: 27.917vw;
  top: 23vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  /* or 120% */
  color: #FFFFFF;

}

.ad_menu_5 {
  position: absolute;
  left: 27.917vw;
  top: 25vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  /* or 120% */
  color: #FFFFFF;

}

.ad_menu_6 {
  position: absolute;
  left: 45vw;
  top: 23vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  color: #FFFFFF;

}

.ad_menu_7 {
  position: absolute;
  left: 45vw;
  top: 25vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 1.736vw;
  line-height: 2.083vw;
  /* or 120% */
  color: #FFFFFF;

}

.hidden {
  display: none;
}



.content {
  z-index: 2;
}

.img7 {
  position: absolute;
  display: block;
  left: 26.875vw;
  top: 0vw;
  z-index: -1;
}

.img8 {
  position: absolute;
  display: block;
  left: 78.125vw;
  top: 14vw;
  z-index: -1;
}

.menu_botton{
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  left: 2.7vw;
  top: 2.2vw;
  /* margin-bottom: 1.389vw; */
  z-index: 2;
}

.header_text {
  position: absolute;
  top: 2.2vw;
  right: 2vw;
  /* display: inline; */
  font-family: 'Pitcrew';
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 96%;
  text-align: right;
  color: #FFFFFF;
  /* margin-right: 2.7vw;
  margin-top: 2.2vw; */

}

.hr_about_page{
  position: absolute;
  border: 0.069vw solid #FFFFFF;
  width: 6.111vw;
  top: 4vw;
  margin-left: 2.7vw;
}

.about_page_text{
    display: inline-block;
    font-family: 'Pitcrew';
    font-size: 8vw;
    line-height: 94%;
    color: #FFFFFF;
    margin-top: 17vw;
    margin-left: 2.7vw;
    font-weight: 400;
  	font-style: normal;

}

.about_text {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6vw;
  text-align: left;
  color: #FFFFFF;
  left: 2.778vw;
  top: 10vw;
}

.gal_img1{
  position: absolute;
  display: block;
  height: 100vh;
  left: 30vw;
  top: 0vw;
  z-index: -1;
}

.gal_img2 {
  position: absolute;
  display: block;
  width: 20vw;
  left: 62vw;
  top: 12vw;
  z-index: -1;
}

.gal_img3 {
  position: absolute;
  display: block;
  left: 20vw;
  width: 50vw;
  top: 6.944vw;
}

.gal_page_text{
  display: inline-block;
  font-family: 'Pitcrew';
  font-size: 9.722vw;
  line-height: 96%;
  color: #FFFFFF;
  margin-top: 22vw;
  margin-left: 2.778vw;
  font-weight: 400;
  font-style: normal;
}

.gal_about_text {
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  margin-left: 2.7vw;
  margin-top: 4.167vw;
  margin-bottom: 1.389vw;
  z-index: 2;
}

.main {
  margin: 0 auto;
  height: 100vh;
  /* overflow: hidden; */
}

.gal_img4{
  position: absolute;
  height: 100vh;
  top: 0vw;
  left: 20.833vw;
}

.gal_img5{
  position: absolute;
  height: 100vh;
  top: 0vw;
  left: 45vw;
}

.gal_img6{
  position: absolute;
  height: 100vh;
  top: 0vw;
  left: 18.750vw;
}

.gal_img7{
  position: absolute;
  height: 100vh;
  top: 0vw;
  left: 45vw;
}

.gal_text_name_1 {
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  text-align: left;
  display: inline-block;
  margin-top: 22vw;
  margin-left: 58vw;
}

.gal_text_name_2 {
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  text-align: left;
  display: inline-block;
  margin-top: 22vw;
  margin-left: 15vw;
}

.numbers_1 {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  text-align: left;
  display: inline-block;
  margin-top: 0vw;
  margin-left: 58vw;
}

.numbers_2 {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  text-align: left;
  display: block;
  margin-top: 0vw;
  margin-left: 15vw;
}

.gal_text_about_1{
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.319vw;
  text-align: left;
  color: #FFFFFF;
  margin-top: 1vw;
  margin-left: 58vw;
}

.gal_text_about_2{
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.319vw;
  text-align: left;
  color: #FFFFFF;
  margin-top: 1vw;
  margin-left: 15vw;
}

.schedule_page_text {
  position: absolute;
  /* display: inline-block; */
  font-family: 'Pitcrew';
  font-size: 8vw;
  line-height: 96%;
  color: #FFFFFF;
  bottom: 2vw;
  margin-left: 2.778vw;
  font-weight: 400;
  font-style: normal;
  z-index: 3;
}

/* .main {
  height: 100vw;
} */

.sch_img1 {
  position: absolute;
  display: block;
  height: 100vh;
  left: 32vw;
  top: 0vw;
  z-index: -1;
}

.sch_img2 {
  position: absolute;
  width: 15vw;
  left: 0vw;
  top: 8vw;
  z-index: -1;
}

.sch_img3 {
  position: absolute;
  width: 25vw;
  right: 0vw;
  top: 13.056vw;
  z-index: -1;
}


.back_1 {
  position: absolute;
  display: block;
  width: 100vw;
  left: 0vw;
  top: 0vw;
  z-index: -2;
}

/* .schedule_page_text_2 {
  display: inline-block;
  font-family: 'Pitcrew';
  font-size: 9.722vw;
  line-height: 96%;
  color: #FFFFFF;
  margin-bottom: 2vw;
  margin-left: 2.778vw;
  font-weight: 400;
  font-style: normal;
} */

.schedule_page_text_2 {
  position: absolute;
  font-family: 'Pitcrew';
  font-size: 9.722vw;
  line-height: 96%;
  color: #FFFFFF;
  bottom: 2vw;
  margin-left: 2.778vw;
  font-weight: 400;
  font-style: normal;
}

.schedule_page_text_3 {
  position: absolute;
  font-family: 'Pitcrew';
  font-size: 9.722vw;
  line-height: 96%;
  color: #FFFFFF;
  bottom: 2vw;
  margin-left: 2.778vw;
  font-weight: 400;
  font-style: normal;
}

.schedule{
  margin-top: 13vw;
}

.day_sch_text{
  display: inline-block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 2.7vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
}

.day_sch_text:hover{
  opacity: 0.5;
  cursor: pointer;
}

.schedule_page_hr {
  display: block;
  border: 0.069vw solid #FFFFFF;
  width: 47.917vw;
  position: relative;
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-left: 2.7vw;
}

.numbers_sch_1{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 19.4vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_2{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 28vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_3{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 20.3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.schedule_page_text_3 {
  display: inline-block;
  font-family: 'Pitcrew';
  font-size: 9.722vw;
  line-height: 96%;
  color: #FFFFFF;
  margin-top: 14vw;
  margin-left: 2.778vw;
  font-weight: 400;
  font-style: normal;
}

.numbers_sch_4{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 19.4vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_5{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 28vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_6{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 25vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_7{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 25.3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_8{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 26.2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}

.numbers_sch_9{
  display: inline-block;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 26vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  z-index: 2;
  text-align: right;
}





.sch_img11 {
  position: absolute;
  left: 0vw;
  top: 0vw;
  width: 100vw;
  z-index: -2;
}

.text_right{
  position: absolute;

  bottom: 2.2vw;
  right: 0vw;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.319vw;
  text-align: right;
  color: #FFFFFF;
  z-index: 3;
}



.all_pages_menu {
  z-index: 3;
}

.sch_content{
  z-index: 3;
}

.sch_1_txt {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 11vw;
}

.sch_1_txt_1{
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 11vw;
}

.sch_2_txt {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.4vw;
  text-align: left;
  color: #FFFFFF;
  left: 80vw;
  top: 11vw;
}

.sch_2_txt_2 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.4vw;
  text-align: left;
  color: #FFFFFF;
  left: 80vw;
  top: 11vw;
}

.numbers_sch_1_1 {
  position: absolute;
  left: 80vw;
  top: 26vw;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  font-size: 40.4545px;
  line-height: 106%;
  color: #FFFFFF;
}

.floors_txt_1 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 11vw;
  margin-bottom: 2vw;
}

.floors_txt_1:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_6:hover {
  color: #FF00B8;
  cursor: pointer;
}

.ad_menu_7:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt_2 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 14vw;
  margin-bottom: 2vw;
}

.floors_txt_2:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt_3 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 17vw;
  margin-bottom: 2vw;
}

.floors_txt_3:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt_4 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 20vw;
  margin-bottom: 2vw;
}

.floors_txt_4:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt_5 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 23vw;
  margin-bottom: 2vw;
}

.floors_txt_6 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 26vw;
  margin-bottom: 2vw;
}

.floors_txt_7 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 29vw;
  margin-bottom: 2vw;
}

.floors_txt_5:hover {
  color: #FF00B8;
  cursor: pointer;
}

.space_page_hr_1{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 13vw;
  border: 0.069vw solid #FFFFFF;
}

.space_page_hr_2{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 16vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr_3{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 19vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr_4{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 22vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr_5{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 25vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr_6{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 28vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr1{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 13vw;
  border: 0.069vw solid #FFFFFF;
}

.space_page_hr2{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 16vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr3{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 19vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr4{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 22vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr5{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 25vw;
  border: 1px solid #FFFFFF;
}

.space_page_hr6{
  position: absolute;
  width: 17vw;
  height: 0vw;
  left: 2.778vw;
  top: 28vw;
  border: 1px solid #FFFFFF;
}

.space_img1{
  position: absolute;
  left: 27.500vw;
  top: 0px;
  z-index: -3;
}



.space_img2{
  position: absolute;
  left: 0vw;
  top: 24vw;
  z-index: -3;
}

.space_img3{
  position: absolute;
  right: 0vw;
  top: 8vw;
  z-index: -3;
}

.reception_images.1, .cafe_images.1, .stitching_images.1
.weaving_images.1, .knitting_images.1 {
  display: none;
}

.reception_img1{
  position: absolute;
  display: block;
  width: 40vw;
  left: 36vw;
  top: -3vw;
  z-index: 2;

}

.reception_img2{
  position: absolute;
  width: 40vw;
  left: 36vw;
  bottom: -2vw;

}

.reception_img3{
  position: absolute;
  width: 23vw;
  right: 0vw;
  top: 5vw;
}

.reception_img4{
  position: absolute;
  width: 23vw;
  right: 0vw;
  top: 20vw;
}

/* .reception_img1{
  z-index: -3;
} */

.reception_images{
  z-index: -2;
}

.nav_img1{
  position: absolute;
  left: 31vw;
  top: 0px;
  z-index: -3;
}

.floors_txt1 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 11vw;
  margin-bottom: 2vw;
}

.floors_txt1:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt2 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 14vw;
  margin-bottom: 2vw;
}

.floors_txt2:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt3 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 17vw;
  margin-bottom: 2vw;
}

.floors_txt3:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt4 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 20vw;
  margin-bottom: 2vw;
}

.floors_txt4:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt5 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 23vw;
  margin-bottom: 2vw;
}

.floors_txt5:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt6 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 26vw;
  margin-bottom: 2vw;
}

.floors_txt6:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt7 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 29vw;
  margin-bottom: 2vw;
}

.floors_txt7:hover {
  color: #FF00B8;
  cursor: pointer;
}

.nav_img_1{
  position: absolute;
  width: 25vw;
  left: 37%;
  right: 31.02%;
  top: 20%;
  bottom: 41.71%;
}

.nav_img_2{
  position: absolute;
  width: 17vw;
  left: 37%;
  right: 31.02%;
  top: 17%;
  bottom: 41.71%;
}

.nav_img_3{
  position: absolute;
  width: 17vw;
  left: 37%;
  right: 31.02%;
  top: 17%;
  bottom: 41.71%;
}

.nav_img_4{
  position: absolute;
  width: 17vw;
  left: 37%;
  right: 31.02%;
  top: 17%;
  bottom: 41.71%;
}

.nav_img_5{
  position: absolute;
  width: 20vw;
  left: 37%;
  right: 31.02%;
  top: 25%;
  bottom: 41.71%;
}

.nav_img_6{
  position: absolute;
  width: 17vw;
  left: 37%;
  right: 31.02%;
  top: 25%;
  bottom: 41.71%;
}

.nav_img_7{
  position: absolute;
  width: 17vw;
  left: 37%;
  right: 31.02%;
  top: 25%;
  bottom: 41.71%;
}

.merch_img{
  position: absolute;
  height: 100vh;
  left: 30vw;
  top: 0vw;
}

.floors_txt11 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 11vw;
  margin-bottom: 2vw;
}
.floors_txt11:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt22 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 14vw;
  margin-bottom: 2vw;
}

.floors_txt22:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt33 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 17vw;
  margin-bottom: 2vw;
}

.floors_txt33:hover {
  color: #FF00B8;
  cursor: pointer;
}

.floors_txt44 {
  position: absolute;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  left: 2.778vw;
  top: 20vw;
  margin-bottom: 2vw;
}

.floors_txt44:hover {
  color: #FF00B8;
  cursor: pointer;
}

.merch_img_1{
  position: absolute;
  left: 30vw;
  top: 5vw;
  width: 38vw;
}

.merch_img_2{
  position: absolute;
  margin-left: 23vw;
  margin-top: 5vw;
  width: 50vw;
}

.merch_img_3{
  position: absolute;
  margin-left: 15vw;
  margin-top: 5vw;
  /* top: 0vw; */
  width: 60vw;
}

.merch_img_5{
  position: absolute;
  left: 26vw;
  margin-top: 2vw;
  width: 50vw;
}

.price_1{
  position: absolute;
  left: 80vw;
  top: 11vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 60px;
  color: #FFFFFF;
}

.price_2{
  position: absolute;
  left: 80vw;
  top: 14vw;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 60px;
  color: #FFFFFF;
}

.grey_color{
  color: #575757;
}

.grey_color_1{
  border-color: #575757;
}

.cafe_images{
  z-index: 3;
}

.back_1_1{
  display: none;
}

.sch_img11_1{
  display: none;
}

.arrow{
  position: absolute;
  right: 720px;
  bottom: 3vw;
  opacity: 0.4;
}
