@import "reset.css";
@import "fonts.css";
@import "responsive.css";


body {
  background-color: black;
}

.main_page{
  position: absolute;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.menu_text {
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 2.7vw;
  margin-top: 2.2vw;
  margin-bottom: 1.389vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_page_text {
  display: inline-block;
  font-family: 'Pitcrew';
  font-size: 8vw;
  line-height: 94%;
  color: #FFFFFF;
  margin-top: 9vw;
  margin-left: 2.7vw;
  font-weight: 400;
	font-style: normal;
}

.main_page_hr {
  display: block;
  border: 0.069vw solid #FFFFFF;
  width: 17vw;
  position: relative;
  margin-top: 0.347vw;
  margin-bottom: -1vw;
  margin-left: 2.7vw;
}

.border_text {
  position: absolute;
  /* display: inline; */
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.319vw;
  color: #FFFFFF;
  transform: rotate(90deg);
  top: 13.5vw;
  right: -8vw;
}

.text_right{
  display: block;
  margin-top: -3.125vw;
  margin-right: 2.778vw;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.319vw;
  text-align: right;
  color: #FFFFFF;
}

.img1 {
  position: absolute;
  display: block;
  height: 100vh;
  left: 30vw;
  top: 0vw;
  z-index: -1;
}

.img2 {
  position: absolute;
  display: block;
  height: 100vh;
  right: 0vw;
  top: -15vw;
  z-index: -1;
  width: 22.431vw;
}

.img3 {
  position: absolute;
  display: block;
  left: 0vw;
  top: 20vw;
  z-index: -1;
}

.img4 {
  position: absolute;
  display: block;
  width: 14vw;
  right: 0vw;
  top: 33vw;
  z-index: -1;
}

.img5 {
  position: absolute;
  display: block;
  width: 20vw;
  left: 68vw;
  top: 2vw;
  z-index: -1;
}

.background_rec {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 62.500vw;
  opacity: 0.8;
  background-color: black;
  z-index: -1;
}

.img6 {
  position: absolute;
  display: block;
  width: 50vw;
  left: 38vw;
  top: 0vw;
  z-index: -1;
}

.content {
  z-index: 2;
}

.img7 {
  position: absolute;
  display: block;
  left: 387px;
  top: 0px;
  z-index: -1;
}

.img8 {
  position: absolute;
  display: block;
  left: 1125px;
  top: 345px;
  z-index: -1;
}

.menu_botton{
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-left: 2.7vw;
  margin-top: 2.2vw;
  margin-bottom: 1.389vw;
  z-index: 2;
}

.header_text {
  position: absolute;
  top: 3px;
  right: 0px;
  /* display: inline; */
  font-family: 'Pitcrew';
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 96%;
  text-align: right;
  color: #FFFFFF;
  margin-right: 2.7vw;
  margin-top: 2.2vw;

}

.hr_about_page{
  display: block;
  border: 1px solid #FFFFFF;
  width: 6.111vw;
  position: relative;
  margin-top: -10px;
  margin-bottom: -20px;
  margin-left: 40px;
}

.about_page_text{
    display: inline-block;
    font-family: 'Pitcrew';
    font-size: 8vw;
    line-height: 94%;
    color: #FFFFFF;
    margin-top: 17vw;
    margin-left: 2.7vw;
    font-weight: 400;
  	font-style: normal;

}

.about_text {
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6vw;
  text-align: left;
  color: #FFFFFF;
  margin-left: 40px;
  margin-top: 5vw;
}

.gal_img1{
  position: absolute;
  display: block;
  left: 387px;
  top: 0px;
  z-index: -1;
}

.gal_img2 {
  position: absolute;
  display: block;
  width: 336px;
  height: 422px;
  left: 949px;
  top: 275px;
  z-index: -1;
}

.gal_img3 {
  position: absolute;
  display: block;
  top: 100px;
}

.gal_page_text{
  display: inline-block;
  font-family: 'Pitcrew';
  font-size: 140px;
  line-height: 96%;
  color: #FFFFFF;
  margin-top: 680px;
  margin-left: 40px;
  font-weight: 400;
  font-style: normal;
}

.main {
  margin: 0 auto;
  height:100vh;
  overflow: hidden;
}

.gal_img4{
  display: block;
  height: 100vh;
  margin-top: 0px;
  margin-left: 300px;
}

.gal_text_name {
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
